 <!--                                            
    body { font-family: "Times New Roman"; font-size:10pt;
           color: #000; background: #FFF;
	   margin:0 auto; width: 720px; }           
    td   { font-size:10pt; }     
    em   { font-size:180%; font-weight:bold; font-style:normal}

    a:link    { color: #000; }  
    a:visited { color: #000; }
    a:active  { color: #FFF; }

    ul { margin-left:0px; padding-left:10px; list-style-type:none;}

    @media print {        
     * { color: black !important;          
         border-color: black !important;             
         background: white !important; }      
     .noprint { display: none !important; }     
    } 
 --> 
